# LambdaTest Credentials
# Get your username and access key from: https://automation.lambdatest.com/
# Click on the "Access Key" button at the top-right of the Automation Dashboard

LT_USERNAME=your_lambdatest_username
LT_ACCESS_KEY=your_lambdatest_access_key


